### scp war to remote server

### $1, local jenkins slave path
### $2, remoter server path

echo "1: $1" 
echo "2: $2"

### close and clean old service here
ssh $2 "
cd ~/target/
rm -rf *
"

### scp new data here
scp -r $1 $2:~/target/

### restart service
